<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.LaboratoryManagementSystem.mapper.LogMapper">
  <resultMap id="BaseResultMap" type="com.LaboratoryManagementSystem.entity.Log">
    <id column="log_ID" jdbcType="VARCHAR" property="logId" />
    <result column="log_Description" jdbcType="VARCHAR" property="logDescription" />
    <result column="log_TeacherID" jdbcType="VARCHAR" property="logTeacherid" />
    <result column="log_Time" jdbcType="TIMESTAMP" property="logTime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    log_ID, log_Description, log_TeacherID, log_Time
  </sql>
  <select id="selectByExample" parameterType="com.LaboratoryManagementSystem.entity.LogExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from Log
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from Log
    where log_ID = #{logId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from Log
    where log_ID = #{logId,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.LaboratoryManagementSystem.entity.LogExample">
    delete from Log
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.LaboratoryManagementSystem.entity.Log">
    insert into Log (log_ID, log_Description, log_TeacherID, 
      log_Time)
    values (#{logId,jdbcType=VARCHAR}, #{logDescription,jdbcType=VARCHAR}, #{logTeacherid,jdbcType=VARCHAR}, 
      #{logTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.LaboratoryManagementSystem.entity.Log">
    insert into Log
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="logId != null">
        log_ID,
      </if>
      <if test="logDescription != null">
        log_Description,
      </if>
      <if test="logTeacherid != null">
        log_TeacherID,
      </if>
      <if test="logTime != null">
        log_Time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="logId != null">
        #{logId,jdbcType=VARCHAR},
      </if>
      <if test="logDescription != null">
        #{logDescription,jdbcType=VARCHAR},
      </if>
      <if test="logTeacherid != null">
        #{logTeacherid,jdbcType=VARCHAR},
      </if>
      <if test="logTime != null">
        #{logTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.LaboratoryManagementSystem.entity.LogExample" resultType="java.lang.Long">
    select count(*) from Log
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update Log
    <set>
      <if test="record.logId != null">
        log_ID = #{record.logId,jdbcType=VARCHAR},
      </if>
      <if test="record.logDescription != null">
        log_Description = #{record.logDescription,jdbcType=VARCHAR},
      </if>
      <if test="record.logTeacherid != null">
        log_TeacherID = #{record.logTeacherid,jdbcType=VARCHAR},
      </if>
      <if test="record.logTime != null">
        log_Time = #{record.logTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update Log
    set log_ID = #{record.logId,jdbcType=VARCHAR},
      log_Description = #{record.logDescription,jdbcType=VARCHAR},
      log_TeacherID = #{record.logTeacherid,jdbcType=VARCHAR},
      log_Time = #{record.logTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.LaboratoryManagementSystem.entity.Log">
    update Log
    <set>
      <if test="logDescription != null">
        log_Description = #{logDescription,jdbcType=VARCHAR},
      </if>
      <if test="logTeacherid != null">
        log_TeacherID = #{logTeacherid,jdbcType=VARCHAR},
      </if>
      <if test="logTime != null">
        log_Time = #{logTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where log_ID = #{logId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.LaboratoryManagementSystem.entity.Log">
    update Log
    set log_Description = #{logDescription,jdbcType=VARCHAR},
      log_TeacherID = #{logTeacherid,jdbcType=VARCHAR},
      log_Time = #{logTime,jdbcType=TIMESTAMP}
    where log_ID = #{logId,jdbcType=VARCHAR}
  </update>
</mapper>